{% extends "base.html" %}
{% block content %}


<div class="row row-cols-1 row-cols-md-3 g-4 m-3">
  {% for habit in habits %}
  <div class="col">
    <div class="card h-100 ">
      <div class="card-body">
        <h5 class="card-title">{{ habit.name }}</h5>
        <p class="card-text"><strong>Streak:</strong>{{ habit.streak }}</p>
      </div>

      <p>

        {% if habit.last_marked_date == today %}
        <button type="submit" class="btn btn-outline-danger">Done Today</button>
        {% else %}
        <form action="{% url 'mark-done' habit.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-primary">Mark Done</button>
        </form>
        {% endif %}

      </p>
      <p>

        <a href="{% url 'view-streak' habit.pk %}" class="btn btn-outline-success">View Streak</a>
        <a href="{% url 'delete-habit' habit.pk %}" class="btn btn-outline-danger">Delete habit</a>
      </p>

    </div>
  </div>
  {% endfor %}

  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <a href="{% url 'create-habit' %}" class="btn btn-primary">+Create New Habit</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}